<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='styles/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static',filename='styles/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='styles/favicon-16x16.png') }}">
    <title>redditai</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/games-index.css') }}">
  </head>
  <body>
    <div>
      <div class="container text-center">
        <br><br><br><br>
        <a href="/">
          <img src="/static/RedditAI.png" height="200" alt="redditai.stream">
        </a>
      </div>
      <br><br>
      <div class="container text-center">
        <form action="/output" method="GET">
          <div class="form-group">
            <div class="col-md-2 text-right vertical-center">
              <button type="submit" name="submit" value="about" class="button">ABOUT</button>
            </div>
            <div class="col-md-3 text-left vertical-center">
              <font size="5">
                <input type="text" name="u" id="u" placeholder=" username" autofocus/>
                <i class="fa fa-user"></i>
              </font>
              <br><font size="1"><br></font>
              <font size="5">
                <input type="text" name="p" id="p" placeholder=" password" autofocus/>
                <i class="fa fa-user"></i>
              </font>
            </div>
            <div class="col-md-2 text-left vertical-center">
              <button type="submit" name="submit" value="login" class="button">LOGIN</button>
            </div>
            <div class="col-md-5 vertical-center">
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
